 .App {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 15%;
    font-size: 20px;
    color: #3F4B4E;
    width: 40%;
    margin: 0 auto;
}

.title {
    font-family: monospace;
    background: rgb(255,192,203);
    background: linear-gradient(90deg, rgba(255,192,203,1) 25%, rgba(0,255,255,1) 100%);
    padding: 30px 0;
}
